{% extends 'Base_html/base.html' %}
{% block content %}
     <div class="d-flex justify-content-center" style="margin-top: 130px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header text-center">
                Zaaktualizuj hasło
            </div>    
            <div class="card-body pt-3 pb-0">
                <form action="{% url 'update_password' %}" method="POST">
                    {% csrf_token %}
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Nowe hasło</label>
                        {{ form.new_password1 }}
                        </div>
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Potwierdź nowe hasło</label>
                        {{ form.new_password2 }}
                        </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-primary btn-sm" type="submit" value="Zmień hasło">
                    </div>    
                </form>
            </div>
        </div>
    </div>
{% endblock %}