{% extends 'Base_html/base.html' %}
{% block content %}
    {% for msg in messages %}
     <div class="container-fluid mt-3">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
     </div>
    {% endfor %}
     <div class="d-flex justify-content-center" style="margin-top: 200px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header text-center">
                ZMIEŃ HASŁO
            </div>    
            <div class="card-body pt-3 pb-0">
                <p class="text-center">Wypełnij poniższe pola aby zmienić hasło.</p>
                <form action="{% url 'update_password' %}" method="POST">
                    {% csrf_token %}
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Nowe hasło</label>
                        {{ form.new_password1 }}
                        </div>
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Powtórz nowe hasło</label>
                        {{ form.new_password2 }}
                        </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-sm fw-semibold d-flex justify-content-center mt-2 mb-3" type="submit" value="Zmień hasło" style="background-color: #fd7e14">
                    </div>    
                </form>
            </div>
        </div>
    </div>
{% endblock %}