{% extends 'Base_html/base.html' %}
{% block content %}
     <div class="d-flex justify-content-center" style="margin-top: 200px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header justify-content-center text-center">
                MAIL ZOSTAŁ WYSŁANY
            </div>    
            <div class="card-body pt-3 pb-0">
                <p class="text-center">Na podany adres mailowy została wysłana instrukcja oraz link do strony gdzie zresetujesz swoje hasło do konta.</p>
                <a class="btn btn-sm fw-semibold d-flex justify-content-center mb-3" href="{% url 'login_user' %}" role="button" style="background-color: #fd7e14">
                    Powrót do strony logowania
                </a> 
            </div>
        </div>
    </div>    
{% endblock %}