{% extends 'Base_html/base.html' %}
{% block content %}
     <div class="d-flex justify-content-center" style="margin-top: 200px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header text-center">
                ZRESETUJ HASŁO DO KONTA
            </div>    
            <div class="card-body pt-3 pb-0">
                <p class="text-center">W polu poniżej wpisz adres mailowy użyty do rejestracji na naszej stronie.</p>
                <form action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                     <div class="mb-3">
                        <label for="exampleInputText" class="form-label mb-0">Adres email</label>
                        <input type="text" class="form-control" name="email" id="exampleInputText">
                     </div>
                    <div class="d-flex justify-content-center mb-3">
                        <input class="btn btn-sm fw-semibold" type="submit" value="Zresetuj hasło" style="background-color: #fd7e14">
                    </div>    
                </form>
            </div>
        </div>
    </div>    
{% endblock %}