{% extends 'Base_html/base.html' %}
{% block content %}
     <div class="d-flex justify-content-center" style="margin-top: 200px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header text-center">
                HASŁO ZRESETOWANE
            </div>    
            <div class="card-body pt-3 pb-0 mb-3">
                <p class="text-center">Twoje hasło zostało poprawnie zresetowane. Możesz zalogować się do swojego konta.</p>
                <a class="btn btn-sm fw-semibold d-flex justify-content-center mb-3" href="{% url 'login_user' %}" role="button" style="background-color: #fd7e14">
                    Powrót do strony logowania
                </a> 
            </div>
        </div>
    </div>    
{% endblock %}