{% load static %}
<nav class="navbar navbar-expand-md fixed-top" style="background-color: #fd7e14;">
          <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'Collectors_Zone:home' %}">Collectors Zone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header bg-dark text-white">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: white"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 column-gap-lg-2">
                    {% if user.is_authenticated %}
                        {% if user.profile.profile_pic %}
                            <li class="nav-item">
                                <img class="img-fluid rounded-circle mt-1" src="{{ user.profile.profile_pic.url }}" style="height: 35px; width: 35px">
                            {% else %}
                                <img class="img-fluid rounded-circle mt-1" src="{% static 'images/blank-profile-picture.png' %}" style="height: 35px; width: 35px">
                            </li>
                        {% endif %}    
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Użytkownicy:user_profile' request.user.id %}">Witaj, {{ user.username }}</a>
                        </li>
                        <li class="border border-start border-black">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Posty:all_posts' %}">Posty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Dropy:all_drops' %}">Dropy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light btn-outline-dark" href="{% url 'Użytkownicy:logout_user' %}" role="button" style="border-width: medium">
                            Wyloguj się
                            </a> 
                        </li> 
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Posty:all_posts' %}">Posty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Dropy:all_drops' %}">Dropy</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light btn-outline-dark" href="{% url 'Użytkownicy:login_user' %}" role="button" style="border-width: medium">
                            Zaloguj się
                            </a> 
                        </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
</nav>