{% extends 'Base_html/base.html' %}
{% load static %}
{% block content %}
    {% for msg in messages %}
     <div class="container-fluid mt-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
     </div>
    {% endfor %}
     <div class="container-fluid ms-3 me-3 mb-2 pt-3" style="height: auto; width: auto">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/IMG_E0778.JPG' %}" class="object-fit-cover" alt="..." style="height: 135px; width: 1700px">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/IMG_0782.JPG' %}" class="object-fit-cover" alt="..." style="height: 135px; width: 1700px">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/IMG_0780.JPG' %}" class="object-fit-cover" alt="..." style="height: 135px; width: 1700px">
            </div> 
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
     </div>
     <div class="container-fluid">
        <div class="row align-items-start ms-2 me-2 mt-2">
            <div class="col-md-4">
                <div class="card mb-3">
                    {% if user.is_authenticated and user.is_staff %}
                    <div class="card-header d-grid">
                        <a class="btn btn-primary" href="{% url 'Dropy:add_drop' %}" role="button">
                        Dodaj drop
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-body row row-cols-1 pb-0">
                        {% for drop in Drops %}
                            <div class="col">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <p class="card-text fw-bold">{{ drop.Dni_do }}</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row hstack">
                                            <div class="col-3 ms-1">
                                                {% if drop.Zdjęcia %}
                                                    <img class="rounded" src="{{ drop.Zdjęcia.url }}" alt="..." style="height: 100px; width: 100px">
                                                {% else %}
                                                    <img class="img mt-2 rounded" src="{% static 'images/blank-drop-picture.png' %}" style="height: 90px; width: 90px" alt="">
                                                {% endif %}
                                            </div>   
                                            <div class="col-7 col-md-6 ms-5">
                                                <h5 class="card-title text-truncate"><a href="{% url 'Dropy:drop_details' drop.pk %}">{{ drop.Tytuł }}</a></h5>
                                                <p class="card-text fw-semibold">{{ drop.Typ }}<br>
                                                {{ drop.Data }} | Godzina: {{ drop.Godzina }}</p>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>    
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    {% if user.is_authenticated and user.is_staff %}
                    <div class="card-header d-grid">
                        <a class="btn btn-primary" href="{% url 'Posty:add_post' %}" role="button">
                        Dodaj post
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-body hstack row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
                        {% for post in Posts %}
                            <div class="col">
                                <div class="card">
                                    {% if post.Zdjęcia %}
                                        <img class="img rounded" src="{{ post.Zdjęcia.url }}" alt="">
                                    {% else %}
                                        <img class="img rounded" src="{% static 'images/blank-drop-picture.png' %}" alt="">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate"><a href="{% url 'Posty:post_details' post.pk %}">{{ post.Tytuł }}</a></h5>
                                        {{ post.Kategoria }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> 
            </div>
        </div>
     </div>
{% endblock %}
