{% extends 'Base_html/base.html' %}
{% block content %}
    <div class="container-fluid">
         <div class="col">
            <div class="card">
                {% if user.is_authenticated  %}
                    <div class="card-header d-grid">
                        <a class="btn btn-primary" href="{% url 'Posty:add_post' %}" role="button">
                        Dodaj post
                        </a>
                    </div>
                {% endif %}
                <div class="card-body hstack row row-cols-1 row-cols-lg-2 g-3">
                    {% for post in Posts %}
                        <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'Posty:post_details' post.pk %}">{{ post.Tytuł }}</a> | {{ post.Kategoria }}</h5>
                                <p class="card-text text-truncate">{{ post.Opis }}</p>
                              </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div> 
         </div>
    </div>
{% endblock %}