{% extends 'Base_html/base.html' %}
{% load static %}
{% block content %}
    {% for msg in messages %}
     <div class="container-fluid mt-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
     </div>
    {% endfor %}
    <div class="container-fluid mt-3 mb-3">
         <div class="col">
            <div class="card">
                {% if user.is_authenticated and user.is_staff %}
                    <div class="card-header d-grid">
                        <a class="btn btn-primary" href="{% url 'Dropy:add_drop' %}" role="button">
                        Dodaj drop
                        </a>
                    </div>
                {% endif %}
                <div class="card-body hstack row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-3">
                    {% for drop in drops %}
                        <div class="col">
                            <div class="card">
                                {% if drop.Zdjęcia %}
                                    <img class="img rounded" src="{{ drop.Zdjęcia.url }}" alt="">
                                {% else %}
                                    <img class="img rounded" src="{% static 'images/blank-drop-picture.png' %}" alt="">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title text-truncate"><a href="{% url 'Dropy:drop_details' drop.pk %}">{{ drop.Tytuł }}</a></h5>
                                    {{ drop.Typ }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> 
         </div><br>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if drops.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ drops.previous_page_number }}">Poprzednia</a></li>    
            {% endif %}
            <li class="page-item"><a class="page-link">Strona {{ drops.number }} z {{ drops.paginator.num_pages }}</a></li>
            {% if drops.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ drops.next_page_number }}">Następna</a></li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ drops.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            {% endif %}  
          </ul>
        </nav>
    </div>
{% endblock %}