{% extends 'Base_html/base.html' %}
{% load static %}
{% block content %}
         <div class="card mt-4 ms-4 me-4">
            <div class="card-header">
                <h1>{{ drop.Tytuł }} - {{ drop.Typ }}</h1>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row justify-content-start">
                        <div class="col-2">
                            <img class="img mt-2" src="{{ drop.Zdjęcia.url }}" style="height: 200px; width: 200px" alt="">
                        </div>
                        <div class="col-6 fw-semibold">
                            Strona: <a href="{{ drop.Strona }}">{{ drop.Strona }}</a><br>
                            Cena: {{ drop.Cena }}<br>
                            Data dropu: {{ drop.Data }}<br>
                            Godzina dropu: {{ drop.Godzina }}
                        </div>
                    </div>
                </div>    
            </div>
            <div class="card-footer">
                {% if user.is_authenticated and user.is_staff %}
                    <div class="container-fluid text-center">
                        <div class="row justify-content-center">
                            <div class="col-4 d-grid">
                                 <a class="btn btn-warning" href="{% url 'Dropy:update_drop' drop.pk %}" role="button">
                                 Edytuj drop
                                 </a>
                            </div>
                            <div class="col-4 d-grid">
                                 <a class="btn btn-danger" href="{% url 'Dropy:delete_drop' drop.pk %}" role="button">
                                 Usuń drop
                                 </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>    
         </div>
{% endblock %}