{% extends 'Base_html/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
     <div class="d-flex justify-content-center" style="margin-top: 40px">
        <div class="card me-4 ms-4 shadow" style="width: 400px">
            <div class="card-header text-center">
                DODAJ NOWY TEMAT
            </div>    
            <div class="card-body pb-0">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Tytuł</label>
                        {{ form.Tytuł }}
                        </div>
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Kategoria</label>
                        {{ form.Kategoria }}
                        </div>
                        <div class="mb-2">
                        <label for="exampleInputText" class="form-label mb-0">Opis</label>
                        {{ form.Opis }}
                        </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn btn-sm fw-semibold d-flex justify-content-center mt-0 mb-2" type="submit" value="Dodaj nowy temat" style="background-color: #fd7e14">
                    </div>    
                </form>
            </div>
        </div>
     </div>
    {% else %}
        <div class="d-flex justify-content-center" style="margin-top: 200px">
            <div class="card me-4 ms-4 shadow" style="width: 400px">
                <div class="card-header text-center">
                    BRAK DOSTĘPU
                </div>    
                <div class="card-body pt-3 pb-3 pb-0 text-center">
                    <p>Tylko zalogowani użytkownicy mogą dodawać tematy na forum.</p>
                    <a href="{% url 'login_user' %}">Przejdź do strony logowania</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}