{% extends 'Base_html/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="container-fluid mt-3 mb-3">
         <div class="col">
            <div class="card">
                {% if user.is_authenticated %}
                    <div class="card-header d-grid">
                        <a class="btn btn-primary" href="{% url 'Forum:add_topic' %}" role="button">
                        Rozpocznij nowy temat
                        </a>
                    </div>
                {% endif %}    
                <div class="card-body">
                    {% for topic in topics %}
                        <div class="card mb-3">
                          <div class="card-body">
                              <div class="card-title">
                                  <h5><a href="{% url 'Forum:topic_details' topic.pk %}">{{ topic.Tytuł }}</a> | {{ topic.Kategoria }}</h5>
                                  <p class="card-text text-truncate">{{ topic.Opis }}</p>
                              </div>
                          </div>
                        </div>
                {% endfor %}
                </div>
            </div> 
         </div><br>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if topics.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Pierwsza</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ topics.previous_page_number }}">Poprzednia</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link">Strona {{ topics.number }} z {{ topics.paginator.num_pages }}</a></li>
            {% if topics.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ topics.next_page_number }}">Następna</a></li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ topics.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">Ostatnia &raquo;</span>
                  </a>
                </li>
            {% endif %}
          </ul>
        </nav>
    </div>
    {% else %}
        <h1>Tylko zalogowani użytkownicy mogą korzystać z forum</h1>
        <a href="{% url 'login_user' %}">Przejdź do strony logowania</a>
    {% endif %}
{% endblock %}