{% extends 'Base_html/base.html' %}
{% load static %}
{% block content %}
    {% for msg in messages %}
     <div class="container-fluid mt-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
     </div>
    {% endfor %}
    {% if topic %}
        {% if user.is_authenticated %}
         <div class="card mt-4 ms-4 me-4 mb-4">
                <div class="card-header">
                    <h1>{{ topic.Tytuł }} | {{ topic.Kategoria }}</h1>
                </div>
                 <div class="card-body container-fluid">
                    {% if topic.Status_id == 1 %}
                        <div class="card mb-2 bg-success text-white text-center fw-semibold">
                            Temat: {{ topic.Status }}
                        </div>
                    {% else %}
                        <div class="card mb-2 text-white text-center fw-semibold" style="background-color: #6c757d">
                            Temat: {{ topic.Status }}
                        </div>
                    {% endif %}    
                    <div class="card mt-1 mb-2">
                        <div class="card-body fw-bold h5">
                        {{ topic.Opis }}
                        </div>
                        <div class="card-body fw-semibold">
                            {% if topic.Autor.profile.profile_pic %}
                                Autor: <img class="img-fluid rounded-circle" src="{{ topic.Autor.profile.profile_pic.url }}" style="height: 30px; width: 30px" alt="">
                            {% else %}
                                Autor: <img class="img-fluid rounded-circle" src="{% static 'images/blank-profile-picture.png' %}" style="height: 35px; width: 35px" alt="">
                            {% endif %}    
                            {% if topic.Autor.profile.user.id %}
                                <a href="{% url 'user_profile' topic.Autor.profile.user.id %}">{{ topic.Autor }}</a><br>
                            {% else %} 
                                Konto usunięte<br>
                            {% endif %}
                            Dodano: {{ topic.Dodano }}
                        </div>
                        {% if user.is_authenticated and user.is_staff %}
                            <div class="card-footer">
                                <div class="container-fluid text-center">
                                    <div class="row justify-content-center">
                                        <div class="col-4 d-grid">
                                             <a class="btn btn-warning" href="{% url 'Forum:update_topic' topic.pk %}" role="button">
                                             Edytuj temat
                                             </a>
                                        </div>
                                        <div class="col-4 d-grid hstack">
                                             <a role="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                             Usuń temat
                                             </a>
                                             <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                               <div class="modal-dialog">
                                                 <div class="modal-content">
                                                   <div class="modal-header bg-dark">
                                                     <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Usuń temat</h1>
                                                     <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                   </div>
                                                   <div class="modal-body text-center">
                                                     Czy na pewno chcesz usunąć wybrany temat?<br><br>
                                                       <p class="fw-semibold">{{ topic.Tytuł }}</p>
                                                       <p class="fw-semibold">Autor: {{ topic.Autor }}</p>
                                                       <p class="fw-semibold">Dodano: {{ topic.Dodano }}</p>
                                                   </div>
                                                   <div class="modal-footer justify-content-center">
                                                     <button type="button" class="btn btn-success" data-bs-dismiss="modal">Wróć</button>
                                                     <a href="{% url 'Forum:delete_topic' topic.pk %}" type="button"  class="btn btn-danger">Usuń temat</a>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif user.id == topic.Autor.id and topic.Status_id == 1 and topic.Do_konca_edycji %}
                                <div class="card-footer">
                                    <div class="container-fluid text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-4 d-grid">
                                                 <a class="btn btn-warning" href="{% url 'Forum:update_topic' topic.pk %}" role="button">
                                                 Edytuj temat
                                                 </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    </div>
                    <div class="mt-3 mb-3 fw-bold h5">Komentarze:</div>
                    {% if not topic.komentarze.all and topic.Status_id == 1 %}
                        Brak komentarzy...
                        <br>
                        <br>
                        {% if form %}
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <label for="exampleInputText" class="form-label mb-0">Komentarz</label>
                                    {{ form.Tekst }}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input class="btn btn-sm fw-semibold d-flex justify-content-center mt-0 mb-2" type="submit" value="Dodaj komentarz" style="background-color: #fd7e14">
                                </div>  
                            </form>
                        {% endif %}
                    {% elif not topic.komentarze.all and topic.Status_id == 2 %}
                        Brak komentarzy...
                    {% endif %}    
                    {% if topic.komentarze.all and topic.Status_id == 1 %}
                        {% for komentarz in topic.komentarze.all %}
                            <strong>
                            {% if komentarz.Autor.profile.profile_pic %}
                                <img class="img-fluid rounded-circle" src="{{ komentarz.Autor.profile.profile_pic.url }}" style="height: 35px; width: 35px" alt="">
                            {% else %}
                                <img class="img-fluid rounded-circle" src="{% static 'images/blank-profile-picture.png' %}" style="height: 35px; width: 35px" alt="">
                            {% endif %}
                            {% if komentarz.Autor.profile.user.id %}
                                <a href="{% url 'user_profile' komentarz.Autor.profile.user.id %}">{{ komentarz.Autor }}</a>
                            {% else %}
                                Konto usunięte
                            {% endif %}
                            - {{ komentarz.Dodano }}
                            </strong>
                            <br>
                            <p class="fw-medium">{{ komentarz.Tekst }}</p>
                        {% endfor %}
                        <br/>
                        {% if form %}
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <label for="exampleInputText" class="form-label mb-0">Komentarz</label>
                                    {{ form.Tekst }}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input class="btn btn-sm fw-semibold d-flex justify-content-center mt-0 mb-2" type="submit" value="Dodaj komentarz" style="background-color: #fd7e14">
                                </div>  
                            </form>
                        {% endif %}  
                    {% elif topic.komentarze.all and topic.Status_id == 2 %}   
                        {% for komentarz in topic.komentarze.all %}
                            <strong>
                            {% if komentarz.Autor.profile.profile_pic %}
                                <img class="img-fluid rounded-circle" src="{{ komentarz.Autor.profile.profile_pic.url }}" style="height: 35px; width: 35px" alt="">
                            {% else %}
                                <img class="img-fluid rounded-circle" src="{% static 'images/blank-profile-picture.png' %}" style="height: 35px; width: 35px" alt="">
                            {% endif %}
                            {% if komentarz.Autor.profile.user.id %}
                                <a href="{% url 'user_profile' komentarz.Autor.profile.user.id %}">{{ komentarz.Autor }}</a>
                            {% else %}
                                Konto usunięte
                            {% endif %}
                            - {{ komentarz.Dodano }}
                            </strong>
                            <br>
                            <p class="fw-medium">{{ komentarz.Tekst }}</p>
                        {% endfor %}
                    {% endif %}
                 </div>
        </div>
        {% else %}
            <div class="d-flex justify-content-center" style="margin-top: 200px">
            <div class="card me-4 ms-4 shadow" style="width: 400px">
                <div class="card-header text-center">
                    BRAK DOSTĘPU
                </div>    
                <div class="card-body pt-3 pb-3 pb-0 text-center">
                    <p>Tylko zalogowani użytkownicy mogą korzystać z forum.</p>
                    <a href="{% url 'login_user' %}">Przejdź do strony logowania</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}